.form_create-category {
    display: grid;
    gap: 8px;
    margin-bottom: 16px;

    input{
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ccc;

        &:focus {
            outline: none;
            border-color: #007bff;
        }
    }

    select{
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ccc;

        &:focus {
            outline: none;
            border-color: #007bff;
        }
    }
}