PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=prueba

JWT_SECRET=dev-secret-change-me
JWT_EXPIRES_IN=5h

RESEND_API_KEY=re_3Nt5Ckg4_kDkmRcVmjYvZfP4wi96yAoPT
RESEND_FROM=Inventario <onboarding@resend.dev>
RESET_OTP_EXPIRES_MINUTES=15
RESET_OTP_MAX_ATTEMPTS=5
RESET_OTP_PEPPER=change-this-random-string
