

.container_side-bar{
    width: 5%;
    height: 100%;
    background-color: #9e9999;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    align-items: center;
    gap: 25px;

    &.active{
        width: 12%;
        transition: all 0.3s ease;

        .side_bar-content{
            width: 100%;
            height: 35%;
            transition: all 0.3s ease;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 0;
        }
    }

    .side_bar-btn{
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: white;
        font-size: 26px;
    }
    
    .side_bar-content{
        width: 100%;
        height: 35%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .side_bar-category{
            width: 100%;
            height: 33.33%;
            display: flex;
            align-items: center;
            justify-content: center;

            .side_bar-category-btn{
                width: 100%;
                height: 50%;
                font-size: 18px;
                background-color: transparent;
                border: none;
                color: white;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover{
                    background-color: #6e6a6a;
                    transition: all 0.3s ease;
                    border-radius: 10px;
                }
            }
        }

        .side_bar-products{
            width: 100%;
            height: 33.33%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            .side_bar-products-btn{
                width: 100%;
                height: 50%;
                font-size: 18px;
                background-color: transparent;
                border: none;
                color: white;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover{
                    background-color: #6e6a6a;
                    transition: all 0.3s ease;
                    border-radius: 10px;
                }
            }
        }

        .side_bar-movement{
            width: 100%;
            height: 33.33%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            .side_bar-movement-btn{
                width: 100%;
                height: 50%;
                font-size: 18px;
                background-color: transparent;
                border: none;
                color: white;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover{
                    background-color: #6e6a6a;
                    transition: all 0.3s ease;
                    border-radius: 10px;
                }
            }
        }
    }
}

.btn_categoty-io{
    width: 100%;
    height: 33.33% ;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 26px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        background: var(--color-secondary);
        border-radius: 10px;
        transition: all 0.3s ease;

    }
}
.btn_products-io{
    width: 100%;
    height: 33.33% ;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 26px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        background: var(--color-secondary);
        border-radius: 10px;
        transition: all 0.3s ease;

    }
}

.btn_movement-io{
    width: 100%;
    height: 33.33% ;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 26px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        background: var(--color-secondary);
        border-radius: 10px;
        transition: all 0.3s ease;

    }
}
