.container_side-bar{
    width: 6%;
    height: 100%;
    background-color: var(--color-primary);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    align-items: center;
    gap: 25px;

    &.active{
        width: 12%;
        transition: all 0.3s ease;

        .side_bar-content{
            width: 100%;
            height: 35%;
            transition: all 0.3s ease;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 0;
        }
    }

    .side_bar-btn{
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: var(--color-tex-side-light);
        font-size: 26px;

        
    }
    
    .side_bar-content{
        width: 100%;
        height: 35%;
        color: var(--color-tex-side-light);
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .side_bar-category{
            width: 100%;
            height: 33.33%;
            display: flex;
            align-items: center;
            justify-content: center;

            .side_bar-category-btn{
                width: 100%;
                height: 50%;
                font-size: 18px;
                background-color: transparent;
                border: none;
                color: var(--color-text);
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover{
                    background-color: var(--color-secondary);
                    transition: all 0.3s ease;
                    border-radius: 10px;
                }
            }
        }

        .side_bar-products{
            width: 100%;
            height: 33.33%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            .side_bar-products-btn{
                width: 100%;
                height: 50%;
                font-size: 18px;
                background-color: transparent;
                border: none;
                color: var(--color-text);
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover{
                    background-color: var(--color-secondary);
                    transition: all 0.3s ease;
                    border-radius: 10px;
                }
            }
        }

        .side_bar-movement{
            width: 100%;
            height: 33.33%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            .side_bar-movement-btn{
                width: 100%;
                height: 50%;
                font-size: 18px;
                background-color: transparent;
                border: none;
                color: var(--color-text);
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover{
                    background-color: var(--color-secondary);
                    transition: all 0.3s ease;
                    border-radius: 10px;
                }
            }
        }
    }

    .container_btn-dark{
        width: 100%;
        height: 35px;
        display: grid;
        align-items: center;
        position: relative;

        .container_circle{
            background: var(--color-bg-container-circle-dark);
            width: 90%;
            height: 90%;
            margin: auto;
            border-radius: 30px;
            transition: all .3s ease ;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-around;
            cursor: pointer;
            

            &.active{
                width: 50%;
                transition: all .3s ease;

                .circle{
                    &.active{
                        left: 60%;
                    }
                }
            }

            .circle{
                width: 35px;
                height: 35px;
                background: var(--color-secondary-btn-circle);
                border-radius: 50%;
                cursor: pointer;
                transition: all .3s ease;
                position: absolute;
                left: 0;
                top: -3%;

                &.active{
                    background: var(--color-primary-btn-circle);
                    left: 50%;
                    transition: all .3s ease;
                }
            }
        }      
    }
}

.btn_categoty-io{
    width: 100%;
    height: 33.33% ;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-text);
    font-size: 26px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        background: var(--color-secondary);
        border-radius: 10px;
        transition: all 0.3s ease;

    }
}
.btn_products-io{
    width: 100%;
    height: 33.33% ;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-text);
    font-size: 26px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        background: var(--color-secondary);
        border-radius: 10px;
        transition: all 0.3s ease;

    }
}

.btn_movement-io{
    width: 100%;
    height: 33.33% ;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-text);
    font-size: 26px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        background: var(--color-secondary);
        border-radius: 10px;
        transition: all 0.3s ease;

    }
}
