.container_side-bar{
    width: 5%;
    height: 100%;
    background-color: #9e9999;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    align-items: center;
    gap: 25px;

    &.active{
        width: 10%;
        transition: all 0.3s ease;
    }

    .side_bar-btn{
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: white;
        font-size: 26px;
    }
    
    .side_bar-content{
        width: 100%;
        height: 30%;
        padding: 10px;

        .side_bar-category{
            width: 100%;
            height: 33.3%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            p{
                font-size: 15px;

            }
            & :hover{
                background-color: #8e8a8a;
                cursor: pointer;

            }
        }

        .side_bar-products{
            width: 100%;
            height: 33.3%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-size: 20px;
            p{
                font-size: 15px;

            }
            & :hover{
                background-color: #6e6a6a;
                cursor: pointer;

            }
        }

        .side_bar-movement{
            width: 100%;
            height: 33.3%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-size: 20px;
            p{
                font-size: 15px;

            }
            & :hover{
                background-color: #5e5a5a;
                cursor: pointer;

            }
        }
    }
}
