*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root{
  /* COLORES PARA EL SIDE BAR */
  --color-primary: #9e9999;
  --color-secondary: #6e6a6a;
  --color-text: #fff;

  /* COLORES PARA BOTONES */
  --color-btn-primary: #16c2e0;
  --color-btn-primary-hover: #42b4c5;
  --color-btn-secondary: #53da32;
  --color-btn-secondary-hover: #53da50;

  /* COLORES PARA TABLAS */
  --color-table-row-even: #e9e5e5;
}

.container_index{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.btn_create-category {
  background: var(--color-btn-primary);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #000;
  transition: all 0.3s ease;

  &:hover {
      border-radius: 15px;
      background: var(--color-btn-primary-hover);
      transition: all 0.3s ease ;
      color: #000
  }
}