*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root{
  /* COLORES PARA EL SIDE BAR */
  --color-primary: #42b4c5;
  --color-secondary: #6e6a6a;
  --color-bg: #f3f4f6;
  --color-surface: #ffffff;
  --color-tex-side-light:#000;

  /* COLORES PARA BOTONES */
  --color-btn-primary: #16c2e0;
  --color-btn-primary-hover: #42b4c5;
  --color-btn-secondary: #53da32;
  --color-btn-secondary-hover: #53da50;

  /* COLORES PARA TABLAS */
  --color-table-row-even: #e9e5e5;
  --color-primary-btn-circle: #ffffff;
  --color-secondary-btn-circle: #f0eaead7;
  --color-bg-container-circle-dark:#e4e4d8a9;
}

[data-theme="dark"]{
  --color-primary: #2e2e2e;
  --color-secondary: #252525;
  --color-text: #f3f4f6;
  --color-bg: #121212;
  --color-surface: #1d1d1d;
  --color-btn-primary: #18a0bb;
  --color-btn-primary-hover: #15879e;
  --color-btn-secondary: #3aa520;
  --color-btn-secondary-hover: #2e7f1a;
  --color-table-row-even: #2b2b2b;
  --color-bg-container-circle-dark:#818177a4;
  --color-primary-btn-circle: #2b2929fa;
  --color-secondary-btn-circle: #ffffff;
  
} 



body{
  background: var(--color-bg);
  color: var(--color-text);
}

.container_index{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background: var(--color-bg);
}

.btn_create-category {
  background: var(--color-btn-primary);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #000;
  transition: all 0.3s ease;

  &:hover {
      border-radius: 15px;
      background: var(--color-btn-primary-hover);
      transition: all 0.3s ease ;
      color: #000
  }
}
